<div>
    <app-child-new>
        <!-- projected content start -->
        <h3>Some heading</h3>
        <p #para>
            Lorem ipsum, placeholder or dummy text used in typesetting and graphic design for previewing layouts.
            It features scrambled Latin text, which emphasizes the 
        </p>
        <p #para>
            Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of 
            English to emphasise design elements over content. It's also .
        </p>
        <p #para>
            Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
            previewing layouts and visual mockups.
        </p>
        <app-dashboard [name]="'Merry jane'"></app-dashboard>
        <app-dashboard [name]="'Mark vought'"></app-dashboard>
        <app-dashboard [name]="'John smith'"></app-dashboard>
        <!-- projected content end -->
    </app-child-new>
</div>