<div class="container mt-2 mx-3">
    <h5 class="mt-2">RxJS Operators</h5>
    <h6>of & from Operator</h6>
    <div class="data-list" *ngFor="let x of data">
        {{x}}
    </div>
    <button class="btn btn-primary mt-4" (click)=" getAsyncData()">Get data</button>
</div>

<div class="container mt-5 mx-3">
    <h6>fromEvent Operator</h6>
    <div class="data-list w-25" id="container">
    </div>
    <button class="btn btn-primary mt-2" #createBtn>Create new item</button>
</div>

<div class="container mt-4 mx-3">
    <h6>Map & filter Operator</h6>
    <div class="data-list" *ngFor="let x of transformData">
        {{x}}
    </div>
    <button class="btn btn-primary mt-4" (click)="getMapAndFilter()">Get data</button>
</div>

<div class="container mt-4 mx-3">
    <h6>mergeMap</h6>
    <!-- <div class="data-list" *ngFor="let x of transformData">
        {{x}}
    </div> -->
    <form [formGroup]="searchForm">
        <input class="form-control w-25" list="browsers" formControlName="search" placeholder="search..."/>
    </form>
</div>

